<!-- 
<script lang="ts" setup>
import { useRouter } from "vue-router";
const router = useRouter();
router.push("/boards");
</script> 
-->

<template>
  <div class="flex justify-center items-center h-[80vh]">
    <div class="text-center">
      <img
        class="block"
        src="https://picsum.photos/800/600"
        alt="Vue.js Forge"
      />
      <br />

      <AppButton class="block">
        <a
          href="https://gitlab.com/TheKolega/workshop-vue.js-forge"
          target="_blank"
          >Open repo</a
        >
      </AppButton>
    </div>
  </div>
</template>
