<script setup lang="ts">
import { Button as KButton } from "@progress/kendo-vue-buttons";
import { Popup as KPopup } from "@progress/kendo-vue-popup";
import { ref } from "vue";

const showTeams = ref(false);
</script>

<template>
  <div
    class="p-4 border-bottom border-2 flex justify-between"
    style="margin: -1px"
  >
    <img
      src="https://picsum.photos/id/283/400/40"
      class="max-w-none"
      alt="Workshop - Vue.js Forge"
    />
    <div>
      <button
        ref="button"
        class="mr-5 text-[#800080]"
        @click="showTeams = !showTeams"
      >
        <span class="k-icon k-i-ungroup"></span>
        My Team
      </button>

      <KPopup :anchor="'button'" :show="showTeams" class="mt-5">
        <ul>
          <li class="px-5 py-2" @click="showTeams = false">Team 1</li>
          <li class="px-5 py-2" @click="showTeams = false">Team 2</li>
        </ul>
      </KPopup>

      <KButton
        :rounded="'medium'"
        :shape="'rectangle'"
        :icon="'logout'"
        :theme-color="'light'"
        >Logout</KButton
      >
    </div>
  </div>
</template>
