<script setup lang="ts">
// import TheNavBar from "./components/TheNavBar.vue";
// import TheAlerts from "./components/TheAlerts.vue";
// import TheDrawer from "./components/TheDrawer.vue";
</script>

<template>
  <TheNavBar />
  <TheDrawer />
  <TheAlerts />
</template>
